<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="person-form">

            <h:panelGrid >
                <h:panelGrid columns="4">
                    
                    
                </h:panelGrid>
                <h:panelGrid columns="10">
                    <span>TC No</span><p:inputText value="#{beanPerson.selectedPerson.identityNumber}" id="p_identityNumber"/>
                    <span>Name :</span> <p:inputText value="#{beanPerson.selectedPerson.name}" id="p_name"/>
                    <span>Surname:</span><p:inputText value="#{beanPerson.selectedPerson.surname}" id="p_surname"/>
                    <h:outputText value="Age"/> <p:inputText value="#{beanPerson.selectedPerson.age}" id="p_age"/>
                    <p:commandButton value="Save" actionListener="#{beanPerson.save()}" process="p_identityNumber,p_name, p_surname,p_age,@this" update="@form" id="b_save"/>
                 </h:panelGrid>
                <p:dataTable value="#{repositoryPerson.persons}" var="p" rowIndexVar="rowIndex"  id="person_list">
                    <p:column headerText="Row Index">
                        #{rowIndex+1}
                    </p:column>
                    <p:column headerText="TC NO">
                        #{p.identityNumber}
                    </p:column>
                    <p:column headerText="Name">
                        #{p.name}
                    </p:column>
                    <p:column headerText="Surname">
                        #{p.surname}
                    </p:column>
                    <p:column headerText="Age">
                        #{p.age}
                    </p:column>
                </p:dataTable>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

